{% extends "__base.html" %}
{% block title %}Добавление новых авто{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Добавление новых авто для бренда {{ brand }}</h1>
            <hr>
            {{ formset.non_form_errors }}
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ formset.management_form }}
                <div class="row">
                    {% for form in formset %}
                    <div class="col-6">
                        <h3>Автомобиль №{{ forloop.counter }}</h3>
                        {% for field in form %}
                        <div class="mb-3">
                            {% if not field.is_hidden %} {{ field.label_tag }} {% endif %}
                            {{ field }}
                        </div>

                        {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Добавить автомобили</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
